<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>ChatBot</title>
</head>
<body>
        <h1>ChatBot</h1>
        <p>Hello, ChatBot!</p>
        <ul>
            {% for message in messages %}
                <li>{{ message.sender }}: {{ message.text }}</li>
            {% endfor %}
        </ul>
</body>
</html>